In [1]:
print("hello world")

hello world

In [2]:
print("more string")

more string

In [3]:
print(3)

3

In [4]:
print("more string")
print(3)

more string
3

In [5]:
a=1

In [6]:
print(a)

1

In [7]:
b = 2

In [8]:
print(b)

2

In [9]:
print(a)
print(b)

1
2

In [10]:
c = "hello there"

In [11]:
print(c)

hello there

In [12]:
e = "this is a string"

In [13]:
print(e)

this is a string

In [14]:
print(a)
print(c)

1
hello there

In [15]:
f = a

In [16]:
print(f)

1

In [17]:
a = 5

In [18]:
print(a)
print(f)

5
1

In [19]:
v1 = "first string"
v2 = "second string"

In [20]:
temp = v1
v1 = v2
v2 = temp

In [21]:
print(v1)

second string

In [22]:
print(v2)

first string

In [23]:
a = 1
b = 2
if a < b:
    print(" a is definitely less than b")
print(" a is clearly less than b")

 a is definitely less than b
 a is clearly less than b

In [25]:
c = 9
d = 5
if c < d:
    print("c can be clearly defined less than d")
else:
    print("c is definitely more than d")
print("Next Question please?")

c is definitely more than d
Next Question please?

In [28]:
e = 5
f = 8
if e < f:
    print("e is less than f")
elif e == f:
    print("e is equal to f")
else:
    print("e is more than f")

e is less than f

In [29]:
e = 9
f = 8
if e < f:
    print("e is less than f")
elif e == f:
    print("e is equal to f")
else:
    print("e is more than f")

e is more than f

In [30]:
e = 8
f = 8
if e < f:
    print("e is less than f")
elif e == f:
    print("e is equal to f")
else:
    print("e is more than f")

e is equal to f

In [32]:
g = 5
h = 6
if g < h:
    print("g is less than h")
else:
    if g == h:
        print("g is equal to h")
    else:
        print(" g is greater than h")

g is less than h

In [33]:
g = 6
h = 6
if g < h:
    print("g is less than h")
else:
    if g == h:
        print("g is equal to h")
    else:
        print(" g is greater than h")

g is equal to h

In [34]:
g = 9
h = 6
if g < h:
    print("g is less than h")
else:
    if g == h:
        print("g is equal to h")
    else:
        print(" g is greater than h")

 g is greater than h

In [36]:
name = "seark"
height_m = 1.5
weight_kg = 50

bmi = weight_kg / (height_m ** 2 )
print("bmi : ")
print(bmi)
if bmi < 25:
    print(name)
    print("is not overweight")
else:
    print(name)
    print("is overweight")

bmi :
22.22222222222222
seark
is not overweight

In [37]:
name = "seark"
height_m = 1.5
weight_kg = 80

bmi = weight_kg / (height_m ** 2 )
print("bmi : ")
print(bmi)
if bmi < 25:
    print(name)
    print("is not overweight")
else:
    print(name)
    print("is overweight")

bmi :
35.55555555555556
seark
is overweight

In [38]:
# a collection of instruction
# a collection of code
def function1():
    print("okkayy")
    print("Well done")
print("this is out of function")

this is out of function

In [39]:
function1()

okkayy
Well done

In [40]:
# a mapping
# a input or an agreement
def function2(x):
    return 2*x

In [41]:
a = function2(4)
#return value or output

In [42]:
print(a)

8

In [43]:
b = function2(9)

In [44]:
print(b)

18

In [45]:
def function3(x , y):
    return x + y

In [47]:
e = function3(4,5)
print (e)

9

In [48]:
def function4(x):
    print(x)
    print("still in this function")
    return 4 * x

In [49]:
f= function4(6)

6
still in this function

In [50]:
print (f)

24

In [55]:
#BMI Calculator
name1 = "seark"
height_m1 =2
weight_kg1 =90

name2 = "seark's sister"
height_m2 =1.7
weight_kg2 =70

name3 = "seark's brother"
height_m3 =2.5
weight_kg3 =140

In [59]:
def bmi_calculator( name, height_m, weight_kg):
    bmi = weight_kg / (height_m **2)
    print("bmi:")
    print(bmi)
    if bmi < 25:
        return name + " is not overweight"
    else:
        return name + " is overweight"

In [60]:
result1 = bmi_calculator (name1, height_m1, weight_kg1)
result2 = bmi_calculator (name2, height_m2, weight_kg2)
result3 = bmi_calculator (name3, height_m3, weight_kg3)

bmi:
22.5
bmi:
24.221453287197235
bmi:
22.4

In [61]:
print(result1)
print(result2)
print(result3)

seark is not overweight
seark's sister is not overweight
seark's brother is not overweight

In [62]:
# making converter km into miles
miles =70

km =1.6* miles
print("km : ")
print(km)

km :
112.0

In [94]:
a = [ 3, 5, 9]
print(a)

[3, 5, 9]

In [64]:
a.append(10)

In [65]:
print(a)

[3, 5, 9, 10]

In [67]:
a.pop()
print(a)

[3, 5]

In [68]:
a.append("heello")
print(a)

[3, 5, 'heello']

In [69]:
a[0]=1
print(a)

[1, 5, 'heello']

In [70]:
b=["banana", "apple", "microsoft"]
print(b)

['banana', 'apple', 'microsoft']

In [71]:
temp=b[0]
b[0]=b[2]
b[2]=temp

In [72]:
print(b)

['microsoft', 'apple', 'banana']

In [73]:
b[0],b[2] = b[2],b[0]
print(b)

['banana', 'apple', 'microsoft']

In [74]:
a = ["banana", "apple", "microsoft"]

In [76]:
print (a[0])
print (a[1])
print (a[2])

banana
apple
microsoft

In [77]:
for element in a:
    print(element)

banana
apple
microsoft

In [83]:
b = [11, 22, 33]
total=0
for e in b:
    equal = total + e
print(equal)

33

In [84]:
# finding sum from 1 to 5
d = list(range( 1,5))
print(d)

[1, 2, 3, 4]

In [85]:
total2=0
for i in range(1,5):
    total2 += i
print(total2)

10

In [88]:
print (list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
total3 = 0
for i in range (1,10):
    if i % 3 == 0:
        total3 += i
print(total3)

18

In [90]:
# sum of all the multiples of 3 and 5
# that are less than 100
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [93]:
total4 = 0
for i in range(1,100):
    if i % 3 == 0 or i % 5 == 0:
        total4 += i
print(total4)

2318

In [104]:
another=[2,3,1,4,5,6]
another

[2, 3, 1, 4, 5, 6]

In [109]:

def checkval(arr):
    for i, val in enumerate(arr):
        if val==5:
            return i
    return -1

In [110]:
print(checkval(another))

4

In [1]:
total2 = 0
j = 1
while j < 5:
    total2 += j
    j += 1
print(total2)

10

In [7]:
given_list = [ 5,5,4,3,2,2,1,-1,-1,-2,-4,-4 ]

total3 = 0
i = 0
while given_list[i] > 0:
    total3 += given_list[i]
    i += 1
print(total3)

22

In [12]:
given_list2 = [ 5, 5, 4, 3, 2, 2, 1, -1, -1, -2, -4, -4 ]
total4 = 0
for element in given_list2:
    total4 += element
print(total4)

10

In [13]:
given_list3 = [ 5,5,4,3,2,2,1,-1,-1,-2,-4,-4 ]

total5 = 0
for element in given_list2:
    if element <= 0:
        break
    total5 += element
print(total5)

22

In [16]:
given_list4=[ 7, 5, 4, 4, 3, 1, -2, -3, -5, -7 ]

total6 = 0
for element in given_list4:
    if element < 0:
        total6 += element
print(total6)

-17

In [2]:
a = [ "dog", "cat", "rabbit" ]

In [4]:
for element in a:
    print(element)

dog
cat
rabbit

In [10]:
for i in range(len(a)):
    for j in range(i + 1):
        print(a[i])

dog
cat
cat
rabbit
rabbit
rabbit

In [11]:
class Rebeca:
    def introduction(self):
        print("My name is " + self.name )

In [12]:
r1 = Rebeca()
r1.name = "Jerry"
r1.color = "green"
r1.weight = "40"

r2 = Rebeca()
r2.name = "Tom"
r2.color= "blue"
r2.weight = "60"

r3 = Rebeca()
r3.name = "Arika"
r3.color = "black"
r3.weight = "50"

In [13]:
r1.introduction()
r2.introduction()
r3.introduction()

My name is Jerry
My name is Tom
My name is Arika

In [18]:
class Rebeca:
    def _init_( self, name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight
        
    def introduction(self):
        print("My name is " + self.name ) 
    def shins(self):
        print("The color of my eye is " + self.color)
        print("My body weight is " + self.weight)
        print("")

In [19]:
r1.introduction()
r2.introduction()
r3.introduction()

My name is Jerry
My name is Tom
My name is Arika